/* Add a black background color to the top navigation */
.topnav {
    background-color: #141414;
    overflow: hidden;
    position: sticky;
    padding: 16px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #ffffff;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s ease;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #181818;
    color: rgb(255, 255, 255);
	border-color: var(--text-color);
	border-width: 3px;
    border-radius: 12px;
    border-style:dotted ;
}

/* Active/current link styling */
.topnav a.active {
    background-color: #181818;
    color: #ffffff;
	border-color: var(--text-color);
	border-width: 3px;
	border-radius: 12px;
	border-style: ridge;
}

/* RGB gradient bar */
.toprgb {
    height: 4px;
    width: 100vw;
    background: var(--text-color);
	position: sticky;
	top: 4.6em;
}

/* Text blur effect */
.blur {
    filter: blur(8px);
}

/* Headings */
h1 {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgba(150, 0, 0, 0);
    font-size: 2rem;
}

/* Body styling */
body {
    background: #000;
    background-image: radial-gradient(#292929 1.4px, #000 1.4px);
    background-size: 28px 28px;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}

/* Button styles */
button {
    border-radius: 1.5em;
    background-color: #2d2d2d;
    padding: 1em 2em;
    border: 2px solid #ffffff;
    color: #fff;
    transition: 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #000;
}

@media (max-width: 500px) {
    button {
        border-radius: 0.25em;
        background-color: #fff;
        color: #000;
        padding: 1em 3em;
        font-size: 1.4em;
    }
}

/* Text cards container */
.text-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: left;
}

/* General styling for text elements within the container */
.text-cards > * {
    background: #000;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--text-color);
    font-family: Arial, sans-serif;
    transition: all 0.5s ease;
    padding: 20px;
	
}

:root {
    --text-color: #ffffff;
}

.text-cards > *:hover {
    transform: translateY(-5px);
	background-color: var(--text-color);
}

/* Styling for links and paragraphs inside text cards */
.text-cards a,
.text-cards p {
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-overflow: ellipsis;
    padding: 15px;
    white-space: normal;
	
}

.text-cards p {
    color: #bbb;
}

/* Gradient border effect for links */
.text-cards a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    border-color: var(--text-color);
    border-radius: 10px;
    transition: all 0.5s ease;
    border-width: 1px;
}

.text-cards a::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 15px;
	overflow: hidden;
    background-color: #000;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

.topnav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}


/* Ensures the content can still be scrolled */
body {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}



/* Container styles */
.wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}



@keyframes rgbAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}
